AzureSQLMonitor/AzureSQLApp/Service References/AzureSQLService1/SqlMonitorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SqlMonitorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISqlMonitorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.azuresqlmonitor.in/SqlMonitorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.azuresqlmonitor.in/SqlMonitorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISqlMonitorService_ConnectSQLAzure_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectSQLAzure" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_ConnectSQLAzure_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectSQLAzureResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDatabaseList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseList" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDatabaseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseListResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_getSystemInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getSystemInfo" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_getSystemInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSystemInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDatabaseSize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseSize" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDatabaseSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseSizeResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetConnectionCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionCount" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetConnectionCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetTableSizeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableSizeDetails" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetTableSizeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableSizeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDBResourceUsage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBResourceUsage" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDBResourceUsage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBResourceUsageResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDBConnectionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBConnectionDetails" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDBConnectionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBConnectionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetTopCpuConsumers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopCpuConsumers" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetTopCpuConsumers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopCpuConsumersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISqlMonitorService">
    <wsdl:operation name="ConnectSQLAzure">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/ConnectSQLAzure" message="tns:ISqlMonitorService_ConnectSQLAzure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/ConnectSQLAzureResponse" message="tns:ISqlMonitorService_ConnectSQLAzure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDatabaseList" message="tns:ISqlMonitorService_GetDatabaseList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDatabaseListResponse" message="tns:ISqlMonitorService_GetDatabaseList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSystemInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/getSystemInfo" message="tns:ISqlMonitorService_getSystemInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/getSystemInfoResponse" message="tns:ISqlMonitorService_getSystemInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseSize">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDatabaseSize" message="tns:ISqlMonitorService_GetDatabaseSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDatabaseSizeResponse" message="tns:ISqlMonitorService_GetDatabaseSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/GetConnectionCount" message="tns:ISqlMonitorService_GetConnectionCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/GetConnectionCountResponse" message="tns:ISqlMonitorService_GetConnectionCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableSizeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/GetTableSizeDetails" message="tns:ISqlMonitorService_GetTableSizeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/GetTableSizeDetailsResponse" message="tns:ISqlMonitorService_GetTableSizeDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBResourceUsage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDBResourceUsage" message="tns:ISqlMonitorService_GetDBResourceUsage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDBResourceUsageResponse" message="tns:ISqlMonitorService_GetDBResourceUsage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBConnectionDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDBConnectionDetails" message="tns:ISqlMonitorService_GetDBConnectionDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDBConnectionDetailsResponse" message="tns:ISqlMonitorService_GetDBConnectionDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopCpuConsumers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/GetTopCpuConsumers" message="tns:ISqlMonitorService_GetTopCpuConsumers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/GetTopCpuConsumersResponse" message="tns:ISqlMonitorService_GetTopCpuConsumers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISqlMonitorService" type="tns:ISqlMonitorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectSQLAzure">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/ConnectSQLAzure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseList">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetDatabaseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSystemInfo">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/getSystemInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseSize">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetDatabaseSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionCount">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetConnectionCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableSizeDetails">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetTableSizeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBResourceUsage">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetDBResourceUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBConnectionDetails">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetDBConnectionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopCpuConsumers">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetTopCpuConsumers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISqlMonitorService" type="tns:ISqlMonitorService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISqlMonitorService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectSQLAzure">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/ConnectSQLAzure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseList">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetDatabaseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSystemInfo">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/getSystemInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseSize">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetDatabaseSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionCount">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetConnectionCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableSizeDetails">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetTableSizeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBResourceUsage">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetDBResourceUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBConnectionDetails">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetDBConnectionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopCpuConsumers">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetTopCpuConsumers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SqlMonitorService">
    <wsdl:port name="BasicHttpBinding_ISqlMonitorService" binding="tns:BasicHttpBinding_ISqlMonitorService">
      <soap:address location="http://www.azuresqlmonitor.in/SqlMonitorService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISqlMonitorService" binding="tns:BasicHttpsBinding_ISqlMonitorService">
      <soap:address location="https://rd00155d393858/SqlMonitorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>