AzureSQLMonitor/AzureSQLApp/Service References/DatabaseService/SqlMonitorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SqlMonitorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60693/SqlMonitorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60693/SqlMonitorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISqlMonitorService_ConnectSQLAzure_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectSQLAzure" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_ConnectSQLAzure_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectSQLAzureResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDatabaseList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseList" />
  </wsdl:message>
  <wsdl:message name="ISqlMonitorService_GetDatabaseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISqlMonitorService">
    <wsdl:operation name="ConnectSQLAzure">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/ConnectSQLAzure" message="tns:ISqlMonitorService_ConnectSQLAzure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/ConnectSQLAzureResponse" message="tns:ISqlMonitorService_ConnectSQLAzure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDatabaseList" message="tns:ISqlMonitorService_GetDatabaseList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlMonitorService/GetDatabaseListResponse" message="tns:ISqlMonitorService_GetDatabaseList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISqlMonitorService" type="tns:ISqlMonitorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectSQLAzure">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/ConnectSQLAzure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseList">
      <soap:operation soapAction="http://tempuri.org/ISqlMonitorService/GetDatabaseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SqlMonitorService">
    <wsdl:port name="BasicHttpBinding_ISqlMonitorService" binding="tns:BasicHttpBinding_ISqlMonitorService">
      <soap:address location="http://localhost:60693/SqlMonitorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>